[Unit]
Description=Wanderer gateway server. 
After=network.target


[Service]
ExecStart=/opt/wanderer/wanderer -c /opt/wanderer/conf/gate.yml
WorkingDirectory=/opt/wanderer
Restart=always
User=wanderer

[Install]
WantedBy=multi-user.target